/* pricing */

.pricing * {
  font-family: var(--ifm-font-family-work-sans);
}
.pricing hr {
  margin: 1.2rem 0;
  border: 0.5px solid var(--ifm-color-gray-dark);
}
.pricing .pricingContainer {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.pricing .title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.pricing .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  line-height: var(--ifm-font-line-height);
  width: 50%;
  margin: 0 auto 1rem;
}
.pricing .card {
  padding: 2.5rem;
  margin: 0 1rem;
  height: 80rem;
}
.pricing .card__header {
  min-height: 12rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing .card__header h3 {
  margin-bottom: 0.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.pricing .card__header p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: var(--ifm-font-letter-spacing);
  line-height: var(--ifm-font-line-height);
}
.pricing .card__footer {
  text-align: center;
}
.pricing .priceCta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .priceCtaDesc {
  display: flex;
  flex-direction: column;
}
.pricing .priceCtaDesc span {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
  line-height: var(--ifm-font-line-height);
}
.pricing .priceCtaDesc .price {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.pricing .retention {
  width: 75%;
  line-height: var(--ifm-font-line-height);
}
.pricing .packageDetailBlock {
  margin-bottom: 1rem;
}
.pricing .packageDetailBlock div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .packageDetailBlock span {
  line-height: var(--ifm-font-line-height);
  margin-bottom: 0.5rem;
}
.pricing .packageDetailTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 0.5rem;
}
.pricing .packageDetailTitle span {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.pricing .featureBlur {
  font-style: normal;
  font-size: 0.9rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  color: var(--ifm-color-white-grey);
  margin-top: -0.5rem;
}
.pricing .explore {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
  text-decoration-line: underline;
  color: var(--ifm-color-primary);
  margin-left: 2.188rem;
}
/* faq */
.faqContainer {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.faq .title {
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  text-align: center;
  margin-bottom: 3rem !important;
}

/* Responsive styles */

@media (max-width: 768px) {
  .pricing .title {
    font-size: 1.5rem;
  }
  .pricing .subtitle {
    font-size: 0.9rem;
    width: 90%;
  }
  .pricing .card {
    padding: 1rem;
    margin: 0 1rem;
    height: auto;
  }
  .pricing .card__header {
    height: 12rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pricing .priceCtaDesc span {
    font-size: 0.9rem;
    line-height: var(--ifm-font-line-height);
  }
  .pricing .priceCtaDesc .price {
    font-size: 1.1rem;
  }
  .pricing .retention {
    width: 100%;
    font-size: 0.9rem;
  }
  .pricing .support span {
    line-height: var(--ifm-font-line-height);
    margin-bottom: 0.5rem;
  }
  .pricing .packageDetailBlock {
    margin-bottom: 1rem;
  }
  .pricing .packageDetailBlock span {
    font-size: 0.9rem;
  }
  .faqContainer {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .faq .title {
    font-size: 2rem;
    line-height: var(--ifm-font-line-height);
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 480px) {
  .pricing .card {
    padding: 1rem;
    margin: 0;
    height: auto;
  }
}
