.cta {
  display: flex;
  align-items: center;
  /* padding: 4rem 0 3rem; */
  width: 100%;
  margin: 4.5rem 0;
}
.cta .tagline {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  margin-bottom: 1.5rem;
}
.cta .contentWrapper {
  background: #f25733;
  border-radius: 6px;
  padding: 3.5rem 0;
  text-align: center;
}
@media (max-width: 996px) {
}
@media (max-width: 568px) {
  .cta .tagline {
    font-size: 1.5rem;
  }
}
@media (max-width: 410px) {
}
