/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

:root {
  /* ! COLORS */
  --ifm-color-primary: #f25733;
  --ifm-color-primary-dark: #e94620;
  --ifm-color-primary-darker: #d73711;
  --ifm-color-primary-darkest: #ad2707;
  --ifm-color-primary-light: #f76c4c;
  --ifm-color-primary-lighter: #fb876c;
  --ifm-color-primary-lightest: #fda693;
  --ifm-color-salmon-lightest: #ffefe7;
  --ifm-link-color: #f99781;
  --ifm-button-color: #ffffff;
  /* BLACK */
  --ifm-color-black-lightest: #282828;
  --ifm-color-black-light: #252526;
  --ifm-color-black: #000000;
  --ifm-color-black-dark: #1a1a1a;
  --ifm-color-black-darkest: #151515;
  /* WHITE */
  --ifm-color-white-lightest: #f2f2f2;
  --ifm-color-white-light: #eeeeee;
  --ifm-color-white: #ffffff;
  --ifm-color-white-dark: #e8e1e1;
  --ifm-color-white-darkest: #d1d5db;
  --ifm-color-white-grey: #bcbcbc;
  /* GRAY */
  --ifm-color-gray-darkest: #333333;
  --ifm-color-gray-dark: #464646;
  --ifm-color-gray: #4f4f4f;
  --ifm-color-gray-light: #6b7280;
  --ifm-color-gray-lightest: #828282;
  /* RED - DANGER */
  --ifm-color-red: #ff0000;
  /* SHADOW */
  --ifm-box-shadow-dark: 0 100px 80px rgba(43, 70, 116, 0.07),
    0 41.7776px 33.4221px rgba(43, 70, 116, 0.05),
    0 22.3363px 17.869px rgba(43, 70, 116, 0.042),
    0 12.5216px 10.0172px rgba(43, 70, 116, 0.035),
    0 6.6501px 5.32008px rgba(43, 70, 116, 0.028),
    0 2.76726px 2.21381px rgba(43, 70, 116, 0.02);
  --ifm-box-shadow-light: rgb(255 255 255 / 20%) 0px 1px 4px 1px;
  /* FONT */
  --ifm-code-font-size: 95%;
  --ifm-font-line-height: 110%;
  /* --ifm-font-family-base: "Space Grotesk"; */
  /* --ifm-font-family-base: arial; */
  --ifm-font-family-base: "Lexend", sans-serif;
  --ifm-font-family-work-sans: "Lexend", sans-serif;
  --ifm-font-size-base: 12pt;
  --ifm-line-height-base: 1.8;
  --ifm-font-letter-spacing: -0.015rem;

  --ifm-navbar-height: 4.5rem;
}

figure {
  margin: 0;
}

figure > figcaption {
  text-align: center;
  font-size: 0.9rem;
}

.highlight {
  color: var(--ifm-color-primary);
}
.highlight-secondary {
  color: var(--ifm-color-primary-lightest);
}

nav.navbar {
  z-index: 10 !important;
  background: #1b1b1d;
  border-bottom: 0.5px solid #353579;
}

.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image {
  z-index: 101;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

hero__screenshot {
  margin-top: 2rem;
}
.hero__screenshot img {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  border-radius: 8px;
}

@media (max-width: 420px) {
  .hero {
    padding: 0.5rem 0.5rem;
  }
  .hero__title {
    font-size: 1.8rem;
  }
  .hero__subtitle {
    font-size: 1rem;
  }

  .hero {
    padding: 0.5rem 0 !important;
  }

  .hero--dark .col--8 {
    padding: 0 12px !important;
  }
}

@media (min-width: 769px) {
  .hero {
    padding: 4rem 2rem;
  }
  .hero__title {
    font-size: 2.2rem;
  }
  .hero__subtitle {
    font-size: 1.3rem;
  }
}
@media (min-width: 997px) {
  .hero {
    text-align: left;
  }
  .hero__title {
    max-width: 280px;
  }
  .hero__screenshot {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding: 0 1.5rem;
  }
}

.hero .button--lg {
  --ifm-button-size-multiplier: 1.4;
}
@media (min-width: 769px) {
  .hero .button--lg {
    --ifm-button-size-multiplier: 1.6;
  }
}

.open-source-label {
  color: var(--ifm-color-gray-400);
  margin-bottom: 0.5rem;
}
.open-source-label strong {
  color: var(--ifm-color-gray-200);
  font-weight: normal;
}

.faq_left_panel {
  font-size: 2.2rem;
  padding: 0.5rem;
  margin: 2rem;
  font-weight: 500;
}

.bottom_cta_interested {
  font-size: 1.25rem;
  padding: 0rem;
  margin: 0rem;
  font-weight: 500;
}
.try-signoz-modal {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  max-width: 100vw;
  background: var(--ifm-color-white);
  padding-bottom: 2rem;
  border-radius: 8px;
  border: 2px solid grey;
}

.try-signoz-modal .card__footer {
  font-size: 16px !important;
}

.try-signoz-modal .card__body > p {
  font-size: 17px !important;
}

.try-signoz-modal .card {
  border: 1px solid var(--ifm-color-white-grey);
  background: var(--ifm-color-white) !important;
  border-radius: 4px;
}

.try-signoz-modal .card:hover {
  border: 1px solid var(--ifm-color-white-grey);
  background: var(--ifm-color-white-lightest) !important;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.pricingTabsContainer .tabs {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0px;
}
.pricingTabsContainer .tabs__item {
  background: var(--ifm-color-white-lightest);
  color: var(--ifm-color-gray);
  padding: 0.375rem 1rem;
  border-radius: 0px;
  min-width: 5rem;
  display: flex;
  justify-content: center;
}

.pricingTabsContainer .tabs__item--active {
  background: #f76c4c;
  color: var(--ifm-color-white);
}

.instrumentation-modal {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  max-width: 100vw;
}

.instrumentation-card {
  height: 400px;
  width: 100%;
  padding: 20px 40px;
  font-size: 16px;
  justify-content: flex-start;
  display: flex;
}

.instrumentation-card .heading {
  font-size: 19px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    display: block !important;
    padding: 0 20px !important;
  }

  .footer__links {
    margin-left: -10px !important;
  }

  .footer-yc-logo {
    margin-bottom: 40px;
  }
}
.footer-container {
  padding: 40px 80px;
}

.footer__col {
  margin-right: 80px;
  margin-left: 80px;
}

.footer__copyright {
  font-size: 14px;
}

.footer__links {
  margin-left: 0px;
}

#play-icon {
  height: 72px;
  width: 72px;
}

#demo-video-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

#demo-video-cover #play-icon path {
  fill: var(--ifm-color-white-light);
}

#demo-video-cover {
  cursor: pointer;
  position: relative;
  height: 426px;
  width: 100%;
}

@media (max-width: 600px) {
  #demo-video-cover {
    cursor: pointer;
    position: relative;
    height: 200px !important;
    width: 100% !important;
    margin-bottom: 40px;
  }

  #demo-video-player {
    cursor: pointer;
    position: relative;
    height: 200px !important;
    width: 100% !important;
  }

  #play-icon {
    height: 48px;
    width: 48px;
    margin-top: -4px;
  }
}

#demo-video-cover:hover #play-icon path {
  fill: var(--ifm-color-primary);
}

#demo-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#demo-content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  z-index: 2;
}

.feature-tab-css {
  margin-bottom: 20px;
  margin-top: 20px;
  white-space: normal;
  background: var(--ifm-color-black-light);
  color: var(--ifm-color-white);
  border: 1px solid var(--ifm-color-gray-darkest);
}

.feature-tab-css__selected {
  margin-bottom: 20px;
  margin-top: 20px;
  white-space: normal;
  background: var(--ifm-color-primary);
  color: var(--ifm-color-white);
  border: 1px solid var(--ifm-color-primary);
}

.footer-newsletter-modal {
  padding: 0.75rem 0.75rem;
  width: 100%;
  margin-bottom: 1.25rem;
  margin-top: 0.75rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.nearfold-newsletter {
  padding: 0.75px 0.75px;
  width: 95%;
  margin-bottom: 1.25rem;
  margin-top: 0.75rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.display--tablet {
  margin-right: -0px;
}

@media (max-width: 600px) {
  .display--tablet {
    margin-right: 0px;
    display: none;
  }
  .footer-newsletter-modal {
    width: 95%;
  }
  .nearfold-newsletter {
    width: 95%;
  }
}

table.custom-table {
  font-size: small;
}

table.custom-table tbody tr {
  transition: box-shadow 0.2s;
}

.list-icon-right {
  list-style-image: url("/img/website/right-icon.webp");
  margin-left: -0.625rem;
  margin-bottom: 0;
}
.list-icon-right li {
  padding-left: 0.6rem;
  line-height: var(--ifm-font-line-height);
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .list-icon-right li {
    font-size: 0.9rem;
  }
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

@media (max-width: 768px) {
  .navbar__items.navbar__items--right .button--primary {
    margin-right: 2.8rem;
    font-size: 0.8rem !important;
  }
  .button--primary {
    padding: calc(
        var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
      )
      calc(
        var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
      );
  }
}

.after\:blur-3xl::after,
.before\:blur-3xl::before {
  filter: blur(65px) !important;
}
.after\:blur-xl::after,
.before\:blur-xl::before {
  filter: blur(20px) !important;
}

.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, #ffffff 50%, #8282ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.5rem 0;
}
.bluish-gradient {
  background: linear-gradient(95.84deg, #3a3f76 -8.15%, #212441 101.25%);
}
.primary-gradient {
  background: linear-gradient(
      273.58deg,
      rgba(221, 80, 49, 0.9) -2.13%,
      rgba(255, 108, 75, 0.9) 110.24%
    ),
    linear-gradient(93.31deg, #ffb4a4 0.38%, #ff5e3a 100.69%);
  transition: all 0.5s ease-out;
}
.primary-gradient:hover {
  background: linear-gradient(
      273.58deg,
      rgba(255, 108, 75, 0.9) -2.13%,
      rgba(221, 80, 49, 0.9) 110.24%
    ),
    linear-gradient(93.31deg, #ff5e3a 0.38%, #ffb4a4 100.69%);
}
.border-gradient {
  background: transparent;
  border: 2px solid #ff5e3a;
  transition: all 0.5s ease-out;
}
a.no-underline {
  text-decoration: none;
}
.heart-emoji {
  -webkit-text-fill-color: snow;
}
.pricing-card {
  border-left: 1rem solid #212441;
}
.plans-container {
  background-image: url("/img/landing/hexa-pattern.webp");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: bottom right;
}

.plans-features {
  list-style: none;
}
.plans-features li {
  position: relative;
}
.plans-features li::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/img/landing/right-marker.webp");
  margin-left: -2rem;
  background-size: contain;
  margin-bottom: 0;
  background-repeat: no-repeat;
}

.self-hosted-data-protection {
  position: relative;
}
.self-hosted-data-protection::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: 50%;
  border-left: 2px dashed #353579;
}
.for-devs-container {
  position: relative;
}
.for-devs-container:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  border-bottom: 2px dashed #353579;
}
.hero-figure {
  background: linear-gradient(180deg, rgba(92, 92, 153, 0.74) 0%, #1c1c1f 100%);
}
.feature-tabs {
  position: relative;
}
.feature-tabs::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(93.31deg, #6f6fe5 0.38%, #353579 100.69%);
}
.feature-tabs .active {
  position: relative;
  background: #f2573329;
}
.feature-tabs .active::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #f25733;
  z-index: 1;
}
.feature-accordion-container {
  border: 1px solid #4747cb;
}
.feature-accordion-container .open {
  transform: rotate(180deg);
}
.feature-accordion:not(:last-child) {
  border-bottom: 1px solid #4747cb;
}
.play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.play-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 50%;
  background: rgb(221, 80, 49);
  animation: playFadeOut 1.5s ease-in-out infinite;
}
.play-container img {
  transform: translateX(10%);
  position: relative;
  z-index: 2;
}
.play-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  max-width: 100vw;
}
.subscribe-input {
  border: 2px solid #dd5031;
}
/* animation for play on landing page */
@keyframes playFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.announcementContainer {
  max-width: 70%;
  margin: 0 auto;
}

.box-shadowed-image {
  border-radius: 6px;
  box-shadow: rgba(34, 34, 34, 0.2) 2px 10px 24px;
}

@media screen and (max-width: 767px) {
  .self-hosted-data-protection::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 43.5%;
    left: 0;
    border: none;
    border-bottom: 2px dashed #353579;
  }
  .plans-container {
    background-image: none;
  }

  .announcementContainer {
    max-width: 90%;
    margin: 0 auto;
  }
}

.divider {
  width: 100%;
  height: 2px;
  bottom: 0;
  border-bottom: 2px solid #353579;
}
.dashed {
  width: 100%;
  height: 2px;
  bottom: 0;
  border-bottom: 2px dashed #353579;
}
.wavy-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  border-bottom: 2px dashed #353579;
}
.price-calc {
  border: 1px solid theme("colors.primary.500");
}
.slider {
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  border-radius: 9999px;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  height: theme("height[5]");
  overflow: hidden;
}

.slider::-webkit-slider-runnable-track {
  height: theme("height[5]");
  color: red;
  margin-top: -8px;
}

.slider::-webkit-slider-runnable-track,
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

.slider::-webkit-slider-thumb {
  width: theme("width[7]");
  height: theme("height[7]");
  cursor: pointer;
  background: linear-gradient(180deg, #fff, #f8f8fa);
  box-shadow: -340px 0 0 320px theme("colors.primary.400"),
    inset 0 2px 4px 1.75rem #fff;
  border: 1px solid #f8f8fa;
  border-radius: 9999px;
  position: relative;
}

/* Blog Post - CTA Related styles -- start -- */
/* To Do - Move styles to scss  */

.blog-post-page .main-wrapper .container .row {
  flex-direction: row-reverse;
}

.blog-post-page .main-wrapper .container .row .col--9 {
  margin-left: 0px;
}

.blog-post-page .main-wrapper .container .row .col--2 {
  --ifm-col-width: calc(3 / 12 * 100%) !important;
}

.blog-post-page
  .main-wrapper
  .container
  .row
  .isBlogPostPage
  .blog-cta-container {
  display: flex;
}

.blog-post-page
  .main-wrapper
  .container
  .row
  .isBlogPostPage
  .blog-cta-container
  .blog-post-content {
  flex: 1;
  overflow: hidden;
}

.blog-post-page
  .main-wrapper
  .container
  .row
  .isBlogPostPage
  .blog-cta-container
  .blog-post-cta {
  display: flex;
  width: 240px;
  flex: 0 0 240px; /* Fix for older browsers */
  justify-content: center;

  position: relative;
}

.blog-post-page
  .main-wrapper
  .container
  .row
  .isBlogPostPage
  .blog-cta-container
  .blog-post-cta
  .cta-image-container {
  cursor: pointer;
  position: sticky;
  top: 136px; /* --primary-nav-height + --content-spacing */
  height: 240px;

  margin: 0 16px;
  border-radius: 5px;
}

.blog-post-page
  .main-wrapper
  .container
  .row
  .isBlogPostPage
  .blog-cta-container
  .blog-post-cta
  .cta-image-container
  .cta-image {
  height: 100%;
  width: 100%;
}

.blog-post-page .main-wrapper .table-of-contents {
  border-left: 0;
}

@media (max-width: 1279px) {
  .isBlogPostPage .blog-cta-container .blog-post-cta {
    display: none !important;
  }

  .isBlogPostPage .blog-cta-container .blog-post-content {
    flex: 1 !important;
  }
}

/* Blog Post - CTA Related styles -- end -- */
