/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f25733;
  --ifm-color-primary-dark: rgb(233, 70, 32, 1);
  --ifm-color-primary-darker: rgb(215, 55, 17, 1);
  --ifm-color-primary-darkest: rgb(173, 39, 7, 1);
  --ifm-color-primary-light: rgb(247, 108, 76, 1);
  --ifm-color-primary-lighter: rgb(251, 135, 108, 1);
  --ifm-color-primary-lightest: rgb(253, 166, 147, 1);
  --ifm-code-font-size: 95%;
  --ifm-link-color: #f99781;

  --ifm-button-color: white;
  /* --ifm-font-family-base: "Space Grotesk"; */
  --ifm-font-family-base: arial;
  --ifm-font-size-base: 14pt;
}

figure {
  margin: 0;
}

figure > figcaption {
  text-align: center;
  font-size: 0.9rem;
}

nav.navbar {
  z-index: 10 !important;
}

.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image {
  z-index: 101;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

hero__screenshot {
  margin-top: 2rem;
}
.hero__screenshot img {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  border-radius: 8px;
}

@media (max-width: 420px) {
  .hero {
    padding: 0.5rem 0.5rem;
  }
  .hero__title {
    font-size: 1.8rem;
  }
  .hero__subtitle {
    font-size: 1rem;
  }

  .hero {
    padding: 0.5rem 0 !important;
  }

  .hero--dark .col--8 {
    padding: 0 12px !important;
  }
}

@media (min-width: 769px) {
  .hero {
    padding: 4rem 2rem;
  }
  .hero__title {
    font-size: 2.2rem;
  }
  .hero__subtitle {
    font-size: 1.3rem;
  }
}
@media (min-width: 997px) {
  .hero {
    text-align: left;
  }
  .hero__title {
    max-width: 280px;
  }
  .hero__screenshot {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding: 0 1.5rem;
  }
}

.hero .button--lg {
  --ifm-button-size-multiplier: 1.4;
}
@media (min-width: 769px) {
  .hero .button--lg {
    --ifm-button-size-multiplier: 1.6;
  }
}

.open-source-label {
  color: var(--ifm-color-gray-400);
  margin-bottom: 0.5rem;
}
.open-source-label strong {
  color: var(--ifm-color-gray-200);
  font-weight: normal;
}

.faq_left_panel {
  font-size: 2.2rem;
  padding: 0.5rem;
  margin: 2rem;
  font-weight: 500;
}

.bottom_cta_interested {
  font-size: 1.25rem;
  padding: 0rem;
  margin: 0rem;
  font-weight: 500;
}
.try-signoz-modal {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  max-width: 100vw;
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 8px;
  border: 2px solid grey;
}

.try-signoz-modal .card__footer {
  font-size: 16px !important;
}

.try-signoz-modal .card__body > p {
  font-size: 17px !important;
}

.try-signoz-modal .card {
  border: 1px solid #bcbcbc;
  background: #fff !important;
  border-radius: 4px;
}

.try-signoz-modal .card:hover {
  border: 1px solid #bcbcbc;
  background: #f2f2f2 !important;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.pricingTabsContainer .tabs {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0px;
}
.pricingTabsContainer .tabs__item {
  background: #f2f2f2;
  color: #4f4f4f;
  padding: 0.375rem 1rem;
  border-radius: 0px;
  min-width: 5rem;
  display: flex;
  justify-content: center;
}

.pricingTabsContainer .tabs__item--active {
  background: #f76c4c;
  color: #ffffff;
}

.instrumentation-modal {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  max-width: 100vw;
}

.instrumentation-card {
  height: 400px;
  width: 100%;
  padding: 20px 40px;
  font-size: 16px;
  justify-content: start;
  display: flex;
}

.instrumentation-card .heading {
  font-size: 19px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    display: block !important;
    padding: 0 20px !important;
  }

  .footer__links {
    margin-left: -10px !important;
  }

  .footer-yc-logo {
    margin-bottom: 40px;
  }
}
.footer-container {
  padding: 40px 80px;
}

.footer__col {
  margin-right: 80px;
  margin-left: 80px;
}

.footer__copyright {
  text-align: center;
}

.footer__links {
  margin-left: 0px;
}

#play-icon {
  height: 72px;
  width: 72px;
}

#demo-video-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

#demo-video-cover #play-icon path {
  fill: #eeeeee;
}

#demo-video-cover {
  cursor: pointer;
  position: relative;
  height: 426px;
  width: 100%;
}

@media (max-width: 600px) {
  #demo-video-cover {
    cursor: pointer;
    position: relative;
    height: 200px !important;
    width: 100% !important;
    margin-bottom: 40px;
  }

  #demo-video-player {
    cursor: pointer;
    position: relative;
    height: 200px !important;
    width: 100% !important;
  }

  #play-icon {
    height: 48px;
    width: 48px;
    margin-top: -4px;
  }
}

#demo-video-cover:hover #play-icon path {
  fill: #f25733;
}

#demo-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#demo-content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  z-index: 2;
}

.feature-tab-css {
  margin-bottom: 20px;
  margin-top: 20px;
  white-space: normal;
  background: #252526;
  color: #ffffff;
  border: 1px solid #333333;
}

.feature-tab-css__selected {
  margin-bottom: 20px;
  margin-top: 20px;
  white-space: normal;
  background: var(--ifm-color-primary);
  color: #ffffff;
  border: 1px solid var(--ifm-color-primary);
}

.footer-newsletter-modal {
  padding: 12px 12px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 12px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.nearfold-newsletter {
  padding: 12px 12px;
  width: 95%;
  margin-bottom: 20px;
  margin-top: 12px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.display--tablet {
  margin-right: -0px;
}

@media (max-width: 600px) {
  .display--tablet {
    margin-right: 0px;
  }
  .footer-newsletter-modal {
    width: 95%;
  }
  .nearfold-newsletter {
    width: 95%;
  }
}

table.custom-table {
  font-size: small;
}

table.custom-table tbody tr {
  transition: box-shadow 0.2s;
}
