.sigNozCloudSignUpForm {
  font-family: "Inter", sans-serif;
}

.sigNozCloudSignUpForm input {
  font-family: "Inter", sans-serif;
}

.getStartedBtn {
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 12px;
  font-weight: 700;
}

.header {
  text-align: center;
  color: black;
}

.dataRegionOption {
  font-size: 14px;
  margin-bottom: 8px;
}

.source {
  font-family: "Inter", sans-serif;
}

.hasError {
  border: 1px solid rgb(248, 113, 113);
}
